@model DentiCare.Models.Admin.DisplayUsersViewModel

@{
    ViewBag.Title = "Uzytkownicy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Admin/Admin.css" rel="stylesheet" />

<div class="container admin_container">
    <div id="div_users_list" class="panel panel-default col-md-5 admin_users_panel">
        @Html.Partial("_UsersList", Model.UserViews)
    </div>

    <div id="div_user_details" class="panel panel-default col-md-6">
        @Html.Partial("_UserDetails", Model.Details)
    </div>
</div>

<script>
    function SetAssistantRole() {
        var userID = $(".Row_Clicked").find("#userID").attr('value');
        var userRole = $(".Row_Clicked").find("#userRole").attr('value');

        if (userID !== undefined) {
            var confirmation = confirm('Jestes pewny, ze chcesz nadać tej osobie prawa asystentki?');
            if (confirmation) {
                $.ajax({
                    url: '@Url.Action("SetAssistantRole", "Admin")',
                    type: "GET",
                    cache: false,
                    contentType: "application/html, charset=utf-8",
                    dataType: "html",
                    data: {
                        Id: userID,
                        Role: userRole
                    },
                    success: function (result) {
                        $('#div_users_list').html(result);

                        RefreshUserDetails();
                    },
                    beforeSend: function () {
                        $("#loading_modal").modal('show');
                    },
                    complete: function () {
                        $("#loading_modal").modal('hide');
                    }
                });
            }
        }
    }

    function SetDoctorRole() {
        var userID = $(".Row_Clicked").find("#userID").attr('value');
        var userRole = $(".Row_Clicked").find("#userRole").attr('value');

        if (userID !== undefined) {
            var confirmation = confirm('Jestes pewny, ze chcesz nadać tej osobie prawa stomatologa?');
            if (confirmation) {
                $.ajax({
                    url: '@Url.Action("SetDoctorRole", "Admin")',
                    type: "GET",
                    cache: false,
                    contentType: "application/html, charset=utf-8",
                    dataType: "html",
                    data: {
                        Id: userID,
                        Role: userRole
                    },
                    success: function (result) {
                        $('#div_users_list').html(result);

                        RefreshUserDetails();
                    },
                    beforeSend: function () {
                        $("#loading_modal").modal('show');
                    },
                    complete: function () {
                        $("#loading_modal").modal('hide');
                    }
                });
            }
        }
    }

    function SetPatientRole() {
        var userID = $(".Row_Clicked").find("#userID").attr('value');
        var userRole = $(".Row_Clicked").find("#userRole").attr('value');

        if (userID !== undefined) {
            var confirmation = confirm('Jestes pewny, ze chcesz nadać tej osobie prawa pacjenta?');
            if (confirmation) {
                $.ajax({
                    url: '@Url.Action("SetPatientRole", "Admin")',
                    type: "GET",
                    cache: false,
                    contentType: "application/html, charset=utf-8",
                    dataType: "html",
                    data: {
                        Id: userID,
                        Role: userRole
                    },
                    success: function (result) {
                        $('#div_users_list').html(result);

                        RefreshUserDetails();
                    },
                    beforeSend: function () {
                        $("#loading_modal").modal('show');
                    },
                    complete: function () {
                        $("#loading_modal").modal('hide');
                    }
                });
            }
        }
    }

    function RefreshUserDetails() {
        $.ajax({
            url: '@Url.Action("RefreshUserDetails", "Admin")',
            type: "GET",
            cache: false,
            contentType: "application/html, charset=utf-8",
            dataType: "html",
            data: {},
            success: function (result) {
                $('#div_user_details').html(result);

                RefreshAlerts();
            },
            beforeSend: function () {
                $("#loading_modal").modal('show');
            },
            complete: function () {
                $("#loading_modal").modal('hide');
            }
        });
    }

    function DeleteUser() {
        var userID = $(".Row_Clicked").find("#userID").attr('value');
        var userRole = $(".Row_Clicked").find("#userRole").attr('value');

        if (userID !== undefined) {
            var confirmation = confirm('Jestes pewny, ze chcesz usunac tego uzytkownika?');
            if (confirmation) {
                $.ajax({
                    url: '@Url.Action("DeleteUser", "Admin")',
                    type: "GET",
                    cache: false,
                    contentType: "application/html, charset=utf-8",
                    dataType: "json",
                    data: {
                        Id: userID,
                        Role: userRole
                    },
                    beforeSend: function () {
                        $("#loading_modal").modal('show');
                    },
                    complete: function () {
                        $("#loading_modal").modal('hide');
                    }
                });
            }
        }
    }

    function TableHoverAdminUsers() {
        $(".users_table .users_table_row").on("click", function () {
            var hasClass = $(this).hasClass("Row_Clicked");
            if (!hasClass) {
                $('.Row_Clicked').each(function () {
                    $(this).removeClass('Row_Clicked');
                });
                $(this).addClass('Row_Clicked');

                var userID = $(".Row_Clicked").find("#userID").attr('value');
                var userRole = $(".Row_Clicked").find("#userRole").attr('value');

                if (userID !== undefined) {
                    $.ajax({
                        url: '@Url.Action("ShowUserDetails", "Admin")',
                        type: "GET",
                        cache: false,
                        contentType: "application/html, charset=utf-8",
                        dataType: "html",
                        data: {
                            Id: userID,
                            Role: userRole
                        },
                        success: function (result) {
                            $('#div_user_details').html(result);
                        },
                        beforeSend: function () {
                            $("#loading_modal").modal('show');
                        },
                        complete: function () {
                            $("#loading_modal").modal('hide');
                        }
                    });
                }
            }
        });
    }
</script>

